page-noticias {

}

h2.myh2style {
    font-size: 50px;
    color: crimson;
}

h2.myh2style2 {
    font-size: 25px;
    color: rgb(148, 0, 216);
}

p.mypstyle {
    font-size: 12px;
    color: rgb(0, 119, 216);
    font-style: italic;
}

button.mybuttonstyle {
    font-family: 'Arial Black';
    color: rgb(255, 174, 0)
}

ion-card.mycardstyle {
    background: red
}